header {
    background-color: #F2AE2E;
    color: rgb(2, 2, 2);
    padding: 2%;
    font-size: 40px;
}

.chamada {
    background: #29221f;
    padding-bottom: 2em;
    padding-top: 2em;
    color: #fcf7c5;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    padding-right: 6em;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos {
    display: flex;
    /*tornar flexível, maleável */
    overflow: auto;
    /* para não transbordar para os lados*/
    gap: 10px;
    /*cria um espaçamento entre os vídeos para não ficarem colado*/
}

.categoria-videos img {
    opacity: 0, 5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1, 0;
    border: 3px solid rgb(46, 20, 196)
}